:root {
  --background1: #413e65;
  --lightRed: rgba(240, 64, 55, 0.1);
  --lightViolet: rgba(84, 84, 212, 0.1);
  --lightGrey: rgba(65, 62, 101, 0.1);
  --textPrimary: white;
  --textSecondary: rgba(255, 255, 255, 0.7);
}

.mainContainer {
  margin-left: 13.563rem;
  margin-right: 15.769rem;
}

/* Hero Section */
.heroBox {
  background: url('https://charitism-campaigns.s3.ap-south-1.amazonaws.com/charitism-v2/campaign-details/a1a96c5b-b124-4f84-b3e9-1ce6b42eda7b');
  background-repeat: no-repeat;
}
.heroStack {
  /* padding: 13.125rem 46rem 13.5rem 13.563rem; */
  padding: 14% 50.7% 14% 15%;
}
.heroInputBox {
  position: relative;
}
.heroButton {
  position: absolute;
  top: 0.34rem;
  right: 0.5rem;
}

/* About Us 1 */
.aboutUs1_Container {
  background-color: var(--background1);
}
.paperContainer {
  padding: 8.563rem 0 8.5rem 13.813rem;
}
.paper {
  width: 21.875rem;
  height: 8.688rem;
  padding: 1.438rem 1.125rem 1.688rem 1.563rem;
  border-radius: 9px;
  background-color: #fff;
}
.light {
  width: 3.475rem;
  height: 3.475rem;
  padding: 1.188rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.lightRed {
  background-color: var(--lightRed);
}
.lightViolet {
  background-color: var(--lightViolet);
}
.lightGrey {
  background-color: var(--lightGrey);
}
.lightYellow {
  background-color: rgba(254, 220, 90, 0.1);
}
.lightGreen {
  background-color: rgba(119, 191, 65, 0.1);
}
.aboutUs1_Right {
  padding-top: 12.438rem;
  padding-right: 15.813rem;
  padding-left: 8.5rem;
}
.textPrimary {
  color: var(--textPrimary) !important;
}
.textSecondary {
  color: var(--textSecondary) !important;
}

/* About us 2 */
.aboutUs2_Container {
  background-color: var(--textPrimary);
}

.aboutUs2_Left {
  width: 60%;
  padding: 8rem 4rem 8rem 13.894rem;
}

.aboutus2_Box {
  position: relative;
  box-sizing: border-box;
}
.aboutus2_Image {
  object-fit: scale-down;
}
.aboutus_Oval {
  position: absolute;
  left: -8.3rem;
  bottom: 0;
}

/* Services  */
.services {
  text-align: center;
  background-color: #f7f7fb;
  padding: 6% 15% 6% 15%;
}
.services_Title {
  width: 40%;
  margin-left: 29%;
}
.services_Paper {
  width: 19.563rem;
  height: 4.5rem;
  padding: 0.75rem 0.688rem 0.625rem 0.875rem;
  border-radius: 9px;
  border: solid 0.9px #eae9f2;
  background-color: #fff;
  align-items: center;
}
.lightParent {
  width: 2.475rem;
  height: 2.475rem;
  padding: 1.188rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.flexContainer1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flexContainer2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 5.5rem;
}
.child1 {
  box-shadow: 0 36px 44px -25px rgb(83, 85, 112);
}

/* Features Container */
.features_Container {
  background-color: var(--textPrimary);
}
.features_Stack {
  width: 53%;
  padding: 10rem 4rem 10rem 13.894rem;
}
.features_Box {
  position: relative;
  padding-top: 5rem;
  box-sizing: border-box;
}
.features_Image {
  object-fit: fill;
}

.features_Oval {
  position: absolute;
  left: -4.3rem;
  bottom: 4rem;
}
